* {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  background-color: #fff;
  margin: 0 30px;
}

h1 {
  color: #fff;
  font-weight: 500;
}

h2 {
  color: #28a598;
  text-transform: uppercase;
}

h3 {
  color: #28a598;
  font-weight: 600;
  margin: 0;
}

h4 {
  color: #222;
  font-size: 1.2em;
  font-weight: 300;
  margin: 5px 0;
}

h5 {
  color: #28a598;
  font-style: italic;
  font-weight: 400;
  margin-top: 5px;
}

header {
  background-color: #28a598;
  margin-bottom: 25px;
  padding: 15px;
}

header p {
  color: #fff;
}

header hr {
  border: 1px solid #fff;
  margin-left: 0;
  text-align: left;
}

hr {
  border: 1px solid #28a598;
  margin-left: 0;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

img {
  width: 20px;
}

.bio-overview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-info {
  margin-top: 0;
}

.contact-info__method {
  margin-bottom: 15px;
}

.contact-info, .interests, .experience__details, .skills, .volunteerism {
  list-style-type: none;
  padding: 0;
}

.experience__date-location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.experience__heading {
  margin: 10px 0;
}

.coursework li, .experience__details__segment, .experience__details__volunteerism li {
  margin-bottom: 5%;
}

.experience__details, .experience__details__volunteerism {
  line-height: 1.5;
  list-style: square url('../img/icons8-unchecked-checkbox-10.png');
  margin: 0 15px 35px 15px;
  padding-left: 0;
}

.experiences {
  margin-top: 25px;
}

.interests li {
  border: 2px solid lightgrey;
}

.interests li, .skills li {
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.skills li {
  background-color: #28a598;
  color: #fff;
}

.l-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.profession {
  font-weight: lighter;
  font-size: 1.3em;
  margin-top: 1%;
}

.section-divider {
  width: 50%;
}

@media only screen and (min-width: 768px) {

  /* for desktop */
  body {
    margin-left: 50px;
    margin-right: 0px;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin: 40px 0 0;
  }

  header {
    margin: 0 0 30px 5%;
    padding: 5px 0 5px 30px;
  }

  .bio-overview * {
    margin-right: 5%;
    padding-right: 5%;
  }

  .bio-overview hr {
    max-width: 80%;
  }

  .bio-overview {
    flex-basis: 25%;
  }

  .coursework {
    columns: 2;
  }

  .coursework li {
    margin-bottom: 5%;
    margin-right: 25%;
  }

  .experiences {
    flex-basis: 75%;
    margin-top: 0;
  }

  .experience__date-location {
    margin-bottom: 25px;
  }

  .experience__details__segment {
    margin: 0 150px 10px 0;
  }

  .experience__details__volunteerism li {
    margin-bottom: 10px;
  }

  .experience__details__volunteerism {
    line-height: 2;
    margin-bottom: 45px;
    padding-left: 0;
    list-style: none;
  }

  .experience__details {
    line-height: 1.3;
    margin-bottom: 45px;
  }

  .experience__heading {
    margin-top: 0;
  }

  .interests li, .skills li {
    display: inline-block;
    margin: 0 5px 20px 0;
    padding: 5px 20px;
  }

  .l-main {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 90%;
  }

  .section-divider {
    width: 20%;
  }

  .section-title {
    border: 1px solid #28a598;
    margin-left: 0;
    max-width: 100%;
    text-align: left;
  }
}
